<app-console-botoes-extracao-relatorios></app-console-botoes-extracao-relatorios>
<router-outlet></router-outlet>

<!--
<div style="display: flex; justify-content: center; align-items: center; background-color: rgb(6, 17, 14);">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div>
      
      <div style="display:inline-block; justify-content: center; align-items: center">
        <div>
          <barcode-scanner-livestream
            #barcodeScanner2
            type="code_128"
            (valueChanges)="onValueChanges($event)"
            (started)="(onStarted)"
          >
          </barcode-scanner-livestream>
        </div>
        <div>
          <p style="color: rgb(0, 125, 234)">{{ barcodeScanner2 }}</p>
        </div>
      </div>
      

      <div [hidden]="!barcodeValue">
        {{ barcodeValue }}
      </div>
      
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center">
  <div>
    <div class="box-title">Extração de Relatórios</div>
    <a> *ngIf="isAdm" routerLink="interacoes"
      <button mat-raised-button color="primary">
        <span>Relatórios</span>
      </button>
    </a>
  </div>
</div>

-->