
  <div class="col d-flex align-items-center justify-content-center">
    <h3>Alinhamento responsivo da caixa dos botões</h3>
  </div>


    
<div class="justify-content-center p-d-flex p-flex-column p-sm-flex-row " >
	<!--Alinhado a direita-->
	<div class="p-mb-3 p-p-2" >
		<div class="flex justify-content-around flex-wrap card-container">
			<div class="flex align-items-center justify-content-center w-10rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >            
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao1</button>
			</div>
			<div class="flex align-items-center justify-content-center w-10rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao1</button>
			</div>
			<div class="flex align-items-center justify-content-center w-10rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao1</button>
			</div>
		</div>
	</div>
	<!--Alinhado a esquerda-->
	<div class="p-mb-3 p-p-2" >
		<div class="flex justify-content-around flex-wrap  p-d-flex p-flex-column p-sm-flex-row ">
			<div class="flex align-items-center justify-content-center w-7rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >            
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao1</button>
			</div>
			<div class="flex align-items-center justify-content-center w-7rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao2</button>
			</div>
			<div class="flex align-items-center justify-content-center w-7rem h-6rem bg-secondary-600 font-bold text-gray-900 border-round m-2" >
			<button class="justify-content-center" icon="pi pi-check" pButton pRipple  styleClass="p-button-secondary" >botao3</button>
			</div>        
		</div>
	</div>
	
</div>

    
  

