<h3>Estudo-NgModel - manipulando ngModel</h3>

<!-- <div *ngIf=" nome != 'Desligar' ">
        <div>
                <p [ngClass]=" { 'active': valor, 'disable': !valor } ">NgClass</p>
        </div>        
        <div>
                <p [ngStyle]=" { 
                        'heigth': heigthPX, 
                        'background': background, 
                        'font-size': fontS } ">NgStyle
                </p>
        </div>
</div> -->



<div>
        <li *ngFor="let item of listNgTemplate">{{ item.nome }}</li>
        <!--No ng-template o for é usado desta forma-->
        <ng-template ngFor let-item [ngForOf]="listNgTemplate">
                <p>{{ item.nome }}</p>
        </ng-template>

        <div>
                <!-- <input [(ngModel)]="nome"> -->
                <button (click)="salvar()">Savar</button>
        </div>
        {{nome}}
        
</div>

<hr>
<hr>
<hr>